<div class="marginright">
    <nav class="navbar navbar-light bg-light justify-content-between" id="white">
        <a class="navbar-brand" routerLink="">Navbar</a>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" 
            type="submit" routerLink="/adduser"> +Add Client</button>
        </form>
    </nav>
</div>

<div class="newdiv">
    <nav class="navbar navbar-light bg-light justify-content-between" id="white">
        <a class="navbar-brand">ALL</a>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            
        </form>
    </nav>
</div>

<div class="container"> 
    <table class="table">
        <thead>
          <tr>
            <th scope="col"> Client id</th>
            <th scope="col">Company Name</th>
            <th scope="col">Creation date</th>
            <th scope="col">Assigned member</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}} </td>
            <td>{{user.username}} </td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
</div>
<router-outlet> </router-outlet>